* {
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
}
.nav {
    margin: 26px;
}

.nav__list-link {
   text-decoration: none;
   color: #FF0000;
   font-size: 18px;
   padding: 50px;
   font-weight: bold;
}

.main__image {
    width: 100%;
}

.main__title {
    text-transform: uppercase;
    color: #373737;
    font-size: 22px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
}

.main__text {
    font-size: 16px;
    text-align: center;
    padding: 45px;
}

.main__text-second {
    font-size: 16px;
    text-align: center;
}

.main__button {
    background-color: #FF0000;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
}

.main__button-text {
    display: block;
    padding: 18px 43px;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.nav__list-item {
    list-style-type: none;
    display: inline;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
    text-align: center;
}

.footer-text {
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    text-align: right;
    color: #373737;
}